@model Admin.MVC.ViewModels.ForgetPasswordViewModel
@using Admin.MVC.Services;
@inject CommonLocalizationService localizer;
@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<div class="middle-box text-center loginscreen animated fadeInDown">
   
        <div class="mb-5">
            <h2 class="font-bold">@localizer.Get("Forget password")</h2>
        </div>
        <p>
            @localizer.Get("Enter your email address and your password will be reset and emailed to you.")
        </p>

        <form class="m-t" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="@localizer.Get("Email")">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>


            <button type="submit" class="btn btn-primary block full-width m-b">@localizer.Get("Search For Account")</button>

        </form>

  
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


